
<table class="table table-condensed" style="margin-bottom: 0px;">
    <tbody>
        <tr style="text-align: center;">
            <th style="text-align: left; vertical-align: middle;"><span
                    class="previous" style="padding-left: 5px;">
                    <!--<a
                        href="javascript:history.back()"><span aria-hidden="true">&larr;</span>
                        Events</a>
                    </li>--> <a href="#menu-toggle" id="menu-toggle"><span
                            class="glyphicon glyphicon-align-justify"
                            ></span></a></span></th>
            <th style="text-align: center; vertical-align: middle;">
                <div ng-if="SummaryCtrl.viewType === 'RS'" class="pageTitle">
                    Trifecta Shot <sup>TM</sup> 1 - Page Performance Summary
                </div>
                <!-- Coach summary header -->
                <div ng-if="SummaryCtrl.viewType === 'COACH_SUMMARY'"  >
                    <div class="pageTitle" style="width:100%">
                        Trifecta Shot <sup>TM</sup> Coach's Corner Summary
                    </div><br/>
                    <table class="table table-borderless table-condensed" style="margin-bottom: 0px;width:100%;">
                        <tbody>
                            <tr style="text-align: center;">
                                <th style="text-align: left; width:20%;">
                                    <div style="display:inline;margin: 0 auto;">
                                        <div class="btn-group" style="display: inline-block;float: left;margin-left: 25px;">
                                            <button class="btn btn-primary btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{SummaryCtrl.currentTeam.name}} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="t in SummaryCtrl.coachTeams"><a ng-click="SummaryCtrl.selectTeam(t)">{{t.name}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                  </th>
                                  <th style="text-align: right; margin-top: 20px;width:60%;">

                                        <div>
                                            <div class="col-xs-1" style="margin-right: 10px;vertical-align: top;">
                                                
                                                    Date Range
                                               
                                            </div>
                                            <div class="col-xs-4">
                                                <p class="input-group">
                                                    <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="SummaryCtrl.stDate" is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-blur="dateBlur()" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </div> 
                                            <div class="col-xs-1" style="width: 1%;padding: 5px;margin-right: 10px;">
                                                <p class="input-group">
                                                    <label>To</label>
                                                </p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p class="input-group">
                                                    <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="SummaryCtrl.endDate" is-open="popup2.opened" datepicker-options="dateOptions2" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-blur="dateBlur()" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </div>
                                             <div class="col-xs-1" style="width: 1%;">
                                                        <button type="button" class="btn btn-default" ng-click="SummaryCtrl.reloadCoachSummary()">Go</button>
                                            </div>
                                        </div>
                                   
                                </th>
                                <th style="text-align: left; width:20%;">
                                	<div ng-if="globals.currentUser.isOwner">
                            			<button type="button" class="btn btn-default" ><i  ng-click="SummaryCtrl.deleteEvent()" class="glyphicon glyphicon-trash"
                           				confirm="Are you sure?" confirm-title="Delete Selected Event" confirm-settings="{size: 'sm'}" confirm-ok="Yes" confirm-cancel="No"></i></button>
                            			<button type="button" class="btn btn-default"><i  ng-click="SummaryCtrl.gotoReport()" class="glyphicon glyphicon-education"></i></button>
                           			</div>
                                </th>
                            </tr>
                        </tbody></table>
                </div>
                <div ng-if="SummaryCtrl.viewType !== 'RS' && SummaryCtrl.viewType !== 'COACH_SUMMARY'">
                    <div class="pageTitle">{{SummaryCtrl.title}} of Round</div>
                    <ul class="nav nav-pills"
                        style="float: left; margin-top: 0px; margin-left: 10px; cursor: pointer;">
                        <li role="presentation"
                            ng-repeat="n in [].constructor(5) track by $index"
                            ng-if="SummaryCtrl.totalRounds > $index"
                            ng-class="(SummaryCtrl.selectedRound == $index + 1) ? 'active' : 'normal'">
                            <a ng-click="SummaryCtrl.changeRound($index + 1)">{{$index +
                                            1}}</a>
                        </li>
                    </ul>
                </div>

            </th>
            <th style="text-align: right;"><span><a href="http://www.trifectashot.com"><img
                            src="img/logo.png" width="166" height="50" /></a></span></th>

        </tr>
    </tbody>
</table>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>